header {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: fit-content;
  height: 200px;
  margin: 0 auto;
  padding: 40px 2750px 20px 2750px;
  color: #fff;
  background: rgb(52, 52, 52, 0.7);
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  display: block;
  position: fixed;
  top: 178px;
  max-width: fit-content;
  min-width: 100%;
  margin: 0 auto;
  padding: 10px 100px;
  color: #fff;
  background: rgb(200, 200, 200);
}
body {
  min-height: 100vh;
  background-color: rgb(13, 13, 13);
  margin: 0 auto;
  width: 100%;
}
img {
  min-width: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  height: auto;
}

.video {
  display: block;
  margin: 0 auto;
  width: 100%;
}
footer {
  position: absolute;
  width: 100%;
  padding: 0px 50px 200px 0px;
  font-size: 60px;
  background: rgb(230, 230, 230);
  color: rgb(130, 130, 130);
}

.heaer-info {
  position: fixed;
  top: 50px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.update {
  position: inherit;

  left: 140px;
}

.logo {
  top: 11px;
  position: inherit;
  left: 2600px;
}
.profile {
  position: inherit;
  left: 5250px;
}
.pro-pic {
  top: 11px;
  position: inherit;
  left: 5750px;
}
.coded {
  padding: 100px;
  text-align: center;
}
.gmail {
  padding: 0px 0px 0px 300px;
}
.email {
  padding: 0px 0px 0px 470px;
}
.linkedin {
  position: inherit;
  top: 300px;
  left: 5000px;
  text-align: center;
}
.researchgate {
  position: inherit;
  top: 380px;
  left: 5000px;
}
